# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py~

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*~
*.qgd

# temporairement JH
Physiocap_dialog_base.ui_OK*
Physiocap*.zip
Makefile~
test/Physiocap.conf
test/Physiocap3.conf
i18n/bak*
Sauve_1.8*/
modeleQgis/OLD/*
modeleQgis/Parcours/*
modeleGPKG/*.gpkg-shm
modeleGPKG/*.gpkg-wal
data/Projet_QGIS_test_Physiocap_3D.qgs
ssl/
scripts/
PHY.e4p
.eric6project/
_eric6project/
session_eric*
.noseids
pylintrc
.gitignore~
*.uibak*
*.ui_OK*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
